/* || GENERAL || */

/* NOTE: All units provided in vw/vh or % wherever possible to build-in simple responsive design */

/* Define variable colors */
:root {
    --aqua: #17c4d4;
    --blue: #0367A6;
    --dark-blue: #000132;
    --charcoal: #31343d;
}

/* Define background color and page-wide font */
body {
    background-color: #ededf7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* || HEADER || */

/* Use variables to specify header color */
header {
    background-color: var(--dark-blue);
}

/* Create title block */
header h1 {
    display: inline-block;
    padding: 1% 1% 2% 7.5%;
    margin: 1% 0 1% 0;
    font-size: 3vw;
    background-color: var(--aqua);
    color: var(--dark-blue);
}

/* Create nav bar */
header nav {
    padding-top: 2.5%;
    margin-right: 4%;
    float: right;
    font-size: 2vw;
}

/* Remove list bullet points */
header nav ul {
    list-style-type: none;
}

/* Align nav list items */
header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

/* Nav link colors and underlines */
header nav ul li a {
    color: var(--aqua);
    text-decoration: underline;
    text-decoration-thickness: 10%;
    text-underline-offset: 30%;
}

/* Nav bar hover effect */
header nav ul li a:hover {
    filter: brightness(150%);
}

/* || FIGURE || */

/* Esablish figure block */
#img {
    margin: 1%;
    position: relative;
}

/* Specify first figure dimensions */
#img img {
    height: 200px;
    width: 100%;
}

/* Create & position subtitle block */
.header-label {
    color: var(--dark-blue);
    background-color: var(--aqua);
    position: absolute;
    font-size: 2vw;
    padding: 1%;
    bottom: 5%;
    right: 1%;
}

.labels {
    color: var(--dark-blue);
    background-color: var(--aqua);
    position: absolute;
    font-size: 1.5vw;
    padding: 1%;
    bottom: 5%;
    right: 1%;
}

/* || MAIN || */

/* Create section margins and padding */
.main {
    margin: 1%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
}

/* Set up side titles for each section */
.section-titles {
    display: flex;
    width: 20%;
    font-size: 3vw;
    color: var(--blue);
    align-items: center;
    justify-content: center;
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* || SECTIONS || */

/* | ABOUT ME | */

/* Size and style paragraph */
.section-content {
    font-size: 2vw;
    padding-left: 3%;
    padding-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 80%;
    line-height: 1.6;
    border-left: .75vw solid var(--dark-blue);
}

/* | WORK | */

/* Align images into grid form */
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Align image grid columns and create bluish tint */
.column-full {
    width: 100%;
    height: 25vw;
    margin: 1%;
    position: relative;
    border: 5px solid var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .75;
    background-color: #d3d3da;
}

.column-half {
    width: 48%;
    height: 20vw;
    margin: 1%;
    position: relative;
    border: 5px solid var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .75;
    background-color: #d3d3da;
}

.column-full:hover {
    opacity: 1;
}

.column-half:hover {
    opacity: 1;
}

/* Set default image */
.images {
    width: 100%;
    height: 90%;
}

/* | CONTACT ME | */

/* Arrange contact items */
.contact-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 3%;
    padding-right: 2%;
    list-style-type: none;
}

/* Style contact links */
.contact-me a {
    color: var(--dark-blue);
    text-decoration: underline;
    text-decoration-thickness: 10%;
    text-underline-offset: 30%;
}

/* Create link hover effect */
.contact-me a:hover {
    color: var(--blue);
}